@charset "UTF-8";
/*Colours*/
$white: #fff;
$grey: #4f4f4f;
$darkGrey: #303841;
$lightGrey: #999;
$yellow: #ffc12d;
$blue: #442a9d;
$pink: #f14e95;

/*Fonts*/
$openSans: "Open Sans", sans-serif, Arial;